<section class="author">
    <div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/profile_minified.jpg)"></div>
    <div class="authorinfo box">
      <h1> Peter Zhao </h1>
      <p><span style="font-weight:bold"><a href="./assets/Resume_Zhao.pdf">Resume</a></span> | <span style="font-weight:bold"><a href="https://www.linkedin.com/in/peter-zhao/">Linkedin</a></span> </p>
      <p class="bio" line-height = 120%>
        Hi, I'm Peter, and I'm currently a student at Williams College studying Computer Science and Mathematics. I'm passionate about using technology to
        solve global problems, and developing software that empowers minorities and disadvantaged populations.
      </p>
    </div>
</section>